@import "colors-waybar.css";
* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid @color5;
    margin-left: 5px;
    margin-right: 5px; 
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.955;
}

tooltip {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @background;
}

#workspaces button {
    padding: 3px;
    color: @color8;
    margin-right: 5px;
}

#workspaces button.active {
    color: @foreground;
}

#workspaces button.urgent {
    color: #11111b;
    background: @color10;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @foreground;
    color: @background;
    border-radius: 10px;
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#window,
#custom-launcher,
#custom-preferences,
#custom-notify,
#backlight {
    background: transparent;
    opacity: 1.0;
    padding: 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 0px;
    color: @foreground;
}

#tray {
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 10px;
}

#workspaces {
    background: @background;
    border-radius: 10px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 5px;
}

#battery {
    margin-right: 0px;
}

#battery.good {
color: @color2;
}

#battery.warning {
	color: @color3;
}

#battery.critical {
	color: @color1
}

#network.disabled {
color: @color8;
}

#clock {
margin-left: 5px;
}

#custom-launcher {
  margin-left: 10px;
  color: @color6;
}

#custom-notify {
  padding: 0px 10px;
  margin-right: 10px;
  color: @color6
}

#custom-preferences {
  margin-right: 5px;
}
